* {
  box-sizing: border-box;
}
:root {
  --black: #333;
  --secondary: #e6dfd3;
}
body {
  color: var(--black);
  font-family: sans-serif;
  font-size: 112.5%;
  line-height: 1.4;
  margin: 0;
}

main {
  padding: 20px;
}

a {
  text-decoration: none;
}

input,
button,
textarea {
  font-size: inherit;
}
.page-header {
  padding: 20px;
  background: var(--secondary);
}
.button {
  background: var(--black);
  color: white;
  border-bottom: none;
  padding: 8px;
  border-radius: 4px;
}

.image-fluid {
  width: 100%;
  height: auto;
}

.logos-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#contact {
  background: var(--secondary);
}
