* {
  box-sizing: border-box;
}
:root {
  --primary: hotpink;
  --black: #333;
  --secondary: #e6dfd3;
}
body {
  color: var(--black);
  font-family: sans-serif;
  font-size: 112.5%;
  line-height: 1.4;
  margin: 0;
}
a {
  text-decoration: none;
}
input,
button,
textarea {
  font-size: inherit;
}
.page-header {
  padding: 40px;
  background: var(--secondary);
}
.button {
  background: var(--black);
  color: white;
  border-bottom: none;
  padding: 8px;
  border-radius: 4px;
}
.image-fluid {
  width: 100%;
  height: auto;
}

.page-main {
  display: block;
  place-items: center;
}

.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: var(--secondary);
}

.border {
  border: 1px solid black;
}

#contact {
  background: var(--secondary);
}
