@import './_base.css';

.button {
  background: var(--black);
  color: white;
  border-bottom: none;
  padding: 8px;
  border-radius: 4px;
}

.image-fluid {
  width: 100%;
  height: auto;
}

.logos-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.bio {
  background: var(--secondary);
  margin: 10px -20px;
  padding: 10px 20px;
}

.contact {
  padding: 30px;
  background: var(--secondary);
  display: grid;
  text-align: center;
  margin-bottom: 0;
}

.inter-skills {
  display: grid;
  grid-template-columns: 50% 50%;

  width: 330px;
  margin: 0 auto;
}
.inter-skills div {
  display: grid;
  text-align: center;
}

#mich-findet {
  text-align: center;
}
